/* Theme Variables */
:root {
    --primary-bg: #0A0F1F;
    --secondary-bg: #111827;
    --primary-accent: #3c83f6; 
    --accent-glow: #22D3EE;    
    --text-light: #F3F4F6;
    --text-muted: #9CA3AF;
    --card-bg: #1e3a8a33;
    --border-stroke: #6496ff4d;
}

.container {
    overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--primary-bg);
    color: var(--text-light);
}


/* Header  */
header {
    background: rgba(0, 0, 0, 0.237);
    backdrop-filter: blur(100px) saturate(150%);
    -webkit-backdrop-filter: blur(12px) saturate(150%); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo , .logo-icon {
    color: var(--primary-accent);
}

.logo:hover{
    color: var(--primary-accent);
}

.logo-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar .nav-item a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 4px 10px;
    position: relative;
}

.navbar .nav-item a::before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background-color: var(--primary-accent);
    left: 110%;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: skewX(13deg);
    transform: skewX(13deg);
    z-index: -1;
}

.navbar .nav-item:hover > a::before {
    width: 100%;
}


/* Features Section */
#hero-section {
    padding-top: 10rem;
}

#hero-section h1 {
    font-size: 4.2rem;
    font-weight: 800;
    color: var(--text-light);
}

#hero-section p {
    font-size: 1.25rem;
    width: 70%;
    margin: auto;
    color: var(--text-muted);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#hero-section h1 span {
    color: var(--primary-accent);
}

#hero-section button i {
    visibility: hidden; 
}

#hero-section button:nth-child(3) {
    position: relative;
    background-color: var(--primary-accent); 
    color: var(--text-light);
    background: linear-gradient(135deg, #0a0f1f49, #1E3A8A);;
    border: none;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out , transform 0.3s ease-in-out;
    box-shadow: 3.5px 3.5px 3px 1px  var(--accent-glow);
}

#hero-section button:nth-child(3)::before {
    visibility: hidden;
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    top: auto;
    left: 90%;
}

#hero-section button:nth-child(3):hover::before {
    visibility: visible;
    top: auto;
    left: 83%;
    transition: left 0.3s ease-in-out;
}

#hero-section button:nth-child(3):hover {
    background-color: var(--accent-glow);
    box-shadow: 3px 3px 5px 3px var(--accent-glow);
    transform: scale(1.05);
}  

#hero-section button:nth-child(4) {
    background-color: transparent;
    color: var(--text-light);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgb(60, 131, 246, 0);
    outline: 1px solid;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 0.5s ease-in-out;
}

#hero-section button:nth-child(4):hover {
    transform: scale(1.05);
    border: 1px solid;
    box-shadow: inset 0 0 20px rgb(60, 131, 246, 0.5), 0 0 20px rgb(60, 131, 246, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

/* Responsive Hero Section */
@media (max-width: 480px) {
    #hero-section {
    padding-top: 8rem;
    }
    #hero-section h1 {
        font-size: 2.5rem;
    }
    #hero-section p {
        width: 90%;
        font-size: 1rem;
    }
    #hero-section button:nth-child(3) {
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    #hero-section button:nth-child(4) {
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    
    
}



/* Features Section */
#features-section {
    padding-top: 10rem;
}

#features-section h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#features-section .container > p {
    width: 60%;
    font-size: 1.1rem;
    color: var(--text-muted);
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.hexagon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    margin: 0 auto;
    padding: 0 3rem;
    padding-bottom: 2rem;
}

.hexagon {
    width: 220px;
    height: 290px;
    position: relative;
    transition: all 0.4s ease;
}

.hexagon:hover {
    transform: scale(1.1);
}

.hexagon-inner {
    width: 100%;
    height: 100%;
    background: var(--card-bg);
    border: 1px solid var(--border-stroke);
    backdrop-filter: blur(10px);
    position: relative;
    transform: rotate(30deg);
    border-radius: 18px;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: all 0.4s ease;
}

.hexagon:hover .hexagon-inner {
    transform: rotate(0deg);
    border-radius: 15px;
}

.hexagon-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--card-bg);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
    transform: rotate(-30deg);
    color: var(--primary-accent);
    filter: drop-shadow(0 0 10px var(--primary-accent));
    transition: all 0.4s ease;
}

.hexagon:hover .hexagon-icon {
    background-color: var(--primary-accent);
    color: var(--text-light);
    transform: rotate(0deg);
}

.hexagon h3 {
    font-size: 1.3rem;
    color: var(--text-light);
    transform: rotate(-30deg);
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: all 0.4s ease;
}

.hexagon:hover h3 {
    transform: rotate(0deg);
}

.hexagon p {
    font-size: 0.95rem;
    color: var(--text-muted);
    transform: rotate(-30deg);
    line-height: 1.5;
    max-width: 150px;
    hyphens: auto;
    transition: all 0.4s ease;
}

.hexagon:hover p {
    transform: rotate(0deg);
}

/* Responsive Features Section */
@media (max-width: 480px) {
    #features-section {
        padding-top: 8rem;
    }
    #features-section h2 {
        font-size: 2rem;
    }
    #features-section .container > p {
        width: 90%;
        font-size: 1rem;
    }
    .hexagon-container {
        gap: 3rem;
        row-gap: 5rem;
    }
}



/* Testimonials Section*/
#testimonials {
    padding-top: 10rem
}

#testimonials h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.testimonial-wrapper {
    max-width: 1000px;
    margin: auto;
}

.testimonial-box {
    width: 90%;
    background: var(--secondary-bg);
    color: var(--text-light);
    min-height: 280px;
    border: 1px solid var(--border-stroke);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    transition: opacity .3s ease-in-out;
}

.testimonial-quote {
    font-size: 1.7rem;
    line-height: 1.6;
    font-style: italic;
    color: var(--text-light);
}

.testimonial-avatar {
    width: 55px;
    height: 55px;
    background: var(--primary-accent);
    color: var(--text-light);
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-btn {
    width: 55px;
    height: 55px;
    background: var(--card-bg);
    border: 2px solid var(--border-stroke);
    border-radius: 50%;
    color: var(--text-light);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 20px rgba(30, 115, 255, 0.5);
    cursor: pointer;
    transition: 0.2s;
}

.testimonial-btn:hover {
    background: var(--primary-accent);
}

.test-dot {
    width: 12px;
    height: 12px;
    background: #586174;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.test-dot.active {
    background: var(--primary-accent);
}

/* Responsive Testimonials */
@media (max-width: 480px) {
    #testimonials {
        padding-top: 8rem;
    }
    #testimonials h2 {
        font-size: 2rem;
    }
    #testimonials .testimonial-wrapper {
        width: 95%;
    }
    .testimonial-quote {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    .testimonial-avatar {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
    .testimonial-btn {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }

}



/* Pricing Section */
#pricing {
    padding-top: 10rem;
}

#pricing h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#pricing .container > p {
    width: 60%;
    font-size: 1.1rem;
    color: var(--text-muted);
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.cards-container {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;

}

.pricing-card {
    width: 300px;
    background: var(--secondary-bg);
    color: var(--text-light);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
    border: 1px solid #1F6FEB22;
    transition: 0.3s;
    box-shadow: 0 12px 20px rgba(30, 115, 255, 0.4);
    transform: skew(-13deg);
}

.pricing-card:hover {
    transform: skew(-13deg) translatey(-10px);
    box-shadow: 0 12px 40px var(--primary-accent);
}

.pricing-card h3 {
    transform: skew(13deg);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-accent);
}

.price {
    transform: skew(13deg);
    
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--text-light);
}

.pricing-card ul li {
    transform: skew(13deg);
    padding: 6px 0;
    color: var(--text-light);
    border-bottom: 1px solid #1a2028;
}

.pricing-card button {
    transform: skew(13deg);
    background-color: var(--primary-accent); 
    color: var(--text-light);
    background: linear-gradient(135deg, #0a0f1f49, #1E3A8A);;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out , transform 0.3s ease-in-out;
    box-shadow: 3.5px 3.5px 3px 1px  var(--accent-glow);
    margin-top: 15px;
}

.pricing-card button:hover {
    background-color: var(--accent-glow);
    box-shadow: 3px 3px 5px 3px var(--accent-glow);
    transform: scale(1.05);
}

/* Responsive Pricing  Section */
@media (max-width: 768px) {
    #pricing {
        padding-top: 8rem;
    }
    #pricing h2 {
        font-size: 2rem;
    }
    #pricing .container > p {
        width: 90%;
        font-size: 1rem;
    }
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
    .pricing-card {
        width: 75%;
        margin-bottom: 2rem;
    }
}

/* Contact Section */
#contact{
    padding-top: 5rem;
}

#contact h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#contact .container > p {
    width: 60%;
    font-size: 1.1rem;
    color: var(--text-muted);
    margin-top: 1rem;
    margin-bottom: 5rem;
}

form div {
    position: relative;
    margin-bottom: 1.5rem;
}

form div input, form div textarea {
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    border: 1px solid var(--border-stroke);
    border-radius: 0.375rem;
    background: var(--secondary-bg);
    color: var(--text-light);
    font-size: 1rem;
    outline: none;
    transform: skew(-13deg);
    transition: border-color 0.3s ease-in-out;
}
.inputs-group{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

form div input::placeholder, form div textarea::placeholder {
    transform: skew(13deg);
    color: var(--text-muted);
}

input.error, textarea.error {
    border-color: red !important;
}

form div input:focus, form div textarea:focus {
    border-color: var(--primary-accent);
}

form div i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: var(--text-muted);
    font-size: 1.2rem;
}


form button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

form button {
    background-color: var(--primary-accent); 
    color: var(--text-light);
    background: linear-gradient(135deg, #0a0f1f49, #1E3A8A);;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out , transform 0.3s ease-in-out;
    box-shadow: 3.5px 3.5px 3px 1px  var(--accent-glow);
}

form button:hover {
    background-color: var(--accent-glow);
    box-shadow: 3px 3px 5px 3px var(--accent-glow);
    transform: scale(1.05);
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
}
.info-card {
    background: var(--secondary-bg);
    color: var(--text-light);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
    border: 1px solid #1F6FEB22;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(30, 115, 255, 0.4);
    transform: skew(-13deg);
    padding: 1rem;
    margin-bottom: 1.5rem;
}   

.info-card:hover{
    transform: skew(-13deg) translatey(-10px);
    box-shadow: 0 12px 40px var(--primary-accent);
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--card-bg);
    font-size: 1.54rem;
    margin: 0 auto;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--primary-accent);
    filter: drop-shadow(0 0 10px var(--primary-accent));
    transition: all 0.4s ease;
}

.info-card:hover .info-icon {
    background-color: var(--primary-accent);
    color: var(--text-light);
    transform: rotate(0deg);
}

.info-text {
    color: var(--text-muted);
    transform: skew(13deg);
    text-align: center;
}

/* Responsive Contact Section */
@media (max-width: 768px) {
    #contact {
        padding-top: 8rem;
    }
    #contact h2 {
        font-size: 2rem;
    }
    #contact .container > p {
        width: 90%;
        font-size: 1rem;
    }
    form div input, form div textarea {
        display: block;
        font-size: 0.9rem;        
    }
    .inputs-group {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }
    form button {
        margin: 0 auto;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .info-card {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* Footer */
footer {
    background: var(--secondary-bg);
    padding: 2rem 0;
    text-align: center;
    color: var(--text-muted);
    margin-top: 5rem;
}
footer ul {
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

footer ul li a {
    color: var(--text-muted);
    font-size: 1.25rem;
    transition: color 0.3s ease-in-out;
}
footer ul li a:hover {
    color: var(--primary-accent);
}



